[Desktop Entry]
Name=qFlipper
Type=Application
Exec={{ qflipper.dir }}/{{ qflipper.name }} %U
TryExec={{ qflipper.dir }}/{{ qflipper.name }}
GenericName=Flipper Zero desktop
Comment=Firmware updater via PC
Categories=Utility;Qt;
Keywords=flipper zero;multi-tool device;
Icon={{ desktop_icon.dest }}
StartupNotify=true
Terminal=false
Version=1.1
MimeType=
